{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>编辑</title>
  <link rel="stylesheet" href="/static/css/layui.css">
</head>

<body>
<form class="layui-form" action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ order.id }}">
    <input type="hidden" name="creator" value="{{ request.user.id }}">

{#  <div class="layui-form-item">#}
{#    <label class="layui-form-label">创建者</label>#}
{#    <div class="layui-input-inline">#}
{#      <input type="text" name="creator" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" value="{{ order.creator }}">#}
{#    </div>#}
{#  </div>#}

  <div class="layui-form-item">
    <label class="layui-form-label">订单号</label>
    <div class="layui-input-inline">
      <input type="text" name="order_no" required  lay-verify="required" placeholder="请输入订单号" autocomplete="off" class="layui-input" value="{{ order.order_no }}" disabled="disabled">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">VIN号</label>
    <div class="layui-input-inline">
      <input type="text" name="vin" required lay-verify="required" placeholder="请输入VIN号" autocomplete="off" class="layui-input" value="{{ order.vin }}" disabled="disabled">
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label">城市</label>
    <div class="layui-input-inline">
      <select name="city" lay-verify="required" lay-search>
        <option value="{{ order.city }}">{{ order.city }}</option>
{#        <option value=""></option>#}
          <option value="北京">北京</option>
          <option value="成都">成都</option>
          <option value="福州">福州</option>
          <option value="广州">广州</option>
          <option value="贵阳">贵阳</option>
          <option value="海口/三亚">海口/三亚</option>
          <option value="杭州">杭州</option>
          <option value="合肥">合肥</option>
          <option value="金华">金华</option>
          <option value="昆明">昆明</option>
          <option value="南昌">南昌</option>
          <option value="南京">南京</option>
          <option value="南宁">南宁</option>
          <option value="宁波">宁波</option>
          <option value="青岛">青岛</option>
          <option value="厦门">厦门</option>
          <option value="上海">上海</option>
          <option value="深圳">深圳</option>
          <option value="石家庄">石家庄</option>
          <option value="苏州">苏州</option>
          <option value="天津">天津</option>
          <option value="温州">温州</option>
          <option value="武汉">武汉</option>
          <option value="西安">西安</option>
          <option value="长沙">长沙</option>
          <option value="郑州">郑州</option>
          <option value="重庆">重庆</option>
          <option value="佛山">佛山</option>

      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">刷写方向</label>
    <div class="layui-input-inline">
      <select name="direction" lay-verify="required">
        <option value="{{ order.direction }}">{{ order.direction }}</option>
        <option value=""></option>
        <option value="添加">添加</option>
        <option value="删除">删除</option>
      </select>
    </div>
  </div>

    <hr class="layui-bg-green">

  <div class="layui-form-item">
    <label class="layui-form-label">车型代码</label>
    <div class="layui-input-inline">
      <select name="model_code" lay-verify="required">
        <option value="{{ order.model_code }}">{{ order.model_code }}</option>
        <option value="">------------------</option>
        <option value="ES6002">ES6002</option>
        <option value="ES6003">ES6003</option>
        <option value="ES8002">ES8002</option>
        <option value="ES8003">ES8003</option>
        <option value="ES8004">ES8004</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">是否绑定内部单</label>
    <div class="layui-input-inline">
      <select name="is_combined" lay-verify="required">
        <option value="{{ order.is_combined }}">{{ order.is_combined }}</option>
        <option value="">------------------</option>
        <option value="True">是</option>
        <option value="False">否</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">物料号</label>
    <div class="layui-input-inline">
      <input type="text" name="material_code" required lay-verify="required" placeholder="请输入物料号" autocomplete="off" class="layui-input" value="{{ order.material_code }}">
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label">已修改</label>
    <div class="layui-input-inline">
      <select name="is_changed" lay-verify="required">
        <option value="{{ order.is_changed }}">{{ order.is_changed }}</option>
        <option value="">------------------</option>
        <option value="是">是</option>
        <option value="否">否</option>
      </select>
    </div>
  </div>

{#  <div class="layui-form-item layui-form-text">#}
{#    <label class="layui-form-label">备注</label>#}
{#    <div class="layui-input-block">#}
{#      <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>#}
{#    </div>#}
{#  </div>#}

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formdemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

<script src="/static/layui.all.js"></script>

<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  var $=layui.jquery;


    form.on('submit(formdemo)', function(data){
            data = data.field;
            $.ajax({
                type: $(".layui-form").attr('method'),
                url: "{% url 'nporder:nporder_edit' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert('数据保存成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                            window.parent.location.reload();
                        });
                    } else {
                        layer.alert('数据保存失败', {icon: 5});
                        //$('errorMessage').html(msg.message)
                    }
                    return;
                }
            });
            return false;
    });
    form.render();

});
</script>
</body>
</html>