{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/layui.css">
    {% block style %}

    {% endblock %}
</head>
<body>

<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="">VOM_OA</a></li>
    <li class="layui-nav-item {% block home_select %}{% endblock %}"><a href="{% url 'dashboard' %}">首页</a></li>
    <li class="layui-nav-item {% block pilot_select %}{% endblock %}"><a href="{% url 'nporder:nporder_view' %}">NIO Pilot</a></li>
{#    <li class="layui-nav-item {% block point_select %}{% endblock %}"><a href="{% url 'selfdrivepoint:point_view' %}">自驾积分统计</a></li>#}
    <li class="layui-nav-item {% block pilot_logout %}{% endblock %} layui-layout-right"><a href="{% url 'account:logout' %}">退出</a></li>

</ul>


<div class="layui-container">
  <div class="layui-row">
     <div class="layui-col-lg12">
        {% block content %}

        {% endblock %}
     </div>
  </div>
</div>





<script type="text/javascript" src="/static/layui.all.js"></script>
<script type="text/javascript" src="/static/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/layer-v3.1.1/layer/layer.js"></script>


{% block script %}

{% endblock %}


</body>
</html>